/******* Change Box Model ***************/
*,
*:before,
*:after {
  box-sizing: border-box;
}

/* Default view (Mobile) */

/* Page Background */
html {
  background-size: cover;
  background-position: center;
  margin: 0;
  padding: 0;
}

/* Body Section */
body {
  background-color: white;
  margin: 0 auto;
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 20px;
  font-family: 'Roboto', sans-serif;
}

/* Header Styles */
#top-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 10px;
  margin: 10px 0;
}

.siteName a,
#tools a {
  text-decoration: none;
  color: black;
}

.siteName a {
  font-size: 24px;
  font-weight: bold;
}

.siteName a:hover,
#tools a:hover {
  color: #01b0d3;
}

#tools a {
  font-size: 14px;
  transition: color 0.3s;
}

/* Navigation Styles */
nav {
  background-color: black;
  margin: 10px 0;
}

nav ul {
  display: flex;
  justify-content: space-around;
  margin: 0;
  padding: 5px;
  list-style-type: none;
}

nav li {
  background-color: lightgrey;
  color: black;
  text-align: center;
  padding: 6px 20px;
  border: 1px solid grey;
  text-decoration: none;
  list-style-type: none;
  transition: background-color 0.3s, color 0.3s;
}

nav li:hover {
  background-color: rgb(61, 61, 61);
  color: #01b0d3;
  cursor: pointer;
}

nav li a {
  text-decoration: none;
  color: inherit;
}

/* Home Picture */
.picture-container {
  display: flex;
  justify-content: center;
  height: 200px;
  z-index: 0;
}

.picture-container img {
  width: 150%;
  height: auto;
}

/* CTA Styles */
.car-details {
  text-align: left;
  position: absolute;
  color: #01b0d3;
  background: rgba(255, 255, 255, 0.8);
  padding: 5px;
  margin: 0 0 0 25px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  z-index: 1;
  top: 200px;
}

.car-details h2 {
  margin: 0;
  padding: 0;
}

.car-details ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.car-details li {
  margin-bottom: 5px;
  font-weight: bold;
}

#cta-button {
  background-color: #01b0d3;
  font-weight: bold;
  color: black;
  width: 100%;
  height: 40px;
  border: none;
  cursor: pointer;
  margin-top: 10px;
  text-align: center;
  font-size: 16px;
  border-radius: 5px;
  transition: background-color 0.3s, transform 0.2s;
  padding: 10px;
}

#cta-button:hover {
  background-color: #0297b8;
  color: white;
  transform: scale(1.05);
}

/* Upgrades Section */
.upgrades-section {
  padding: 10px;
}

.upgrades-section h2,
.reviews-section h2 {
  font-size: 24px;
  margin-bottom: 40px;
  text-align: left;
}

.upgrades-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  justify-items: center;
}

.upgrade-item {
  text-align: center;
}

.image-container {
  background-color: lightblue;
  width: 200px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;
}

.upgrade-item img {
  width: 150px;
  height: 100px;
  object-fit: scale-down;
  background-color: #01b0d3;
}

.upgrade-item a {
  display: block;
  font-size: 16px;
}

.upgrade-item a:hover {
  color: #01b0d3;
}

/* Upgrades and Review Section */
.upgrades-reviews-row {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.upgrades-section,
.reviews-section {
  width: 100%;
}

.reviews-section {
  order: -1;
}

.reviews-section li {
  text-align: left;
  font-size: large;
  margin: 0 0 20px -20px;
}

/* Week 3 */
/* Classification Section */

#inv-display {
  width: 100%;
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 20px;
}

#inv-display li {
  /* Card background color */
  background-color: #f8f8f8;
  padding: 0 0 20px 0;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 250px;
}

#inv-display img {
  width: 100%;
  padding: 20px 0 0 0;
}

.namePrice hr {
  width: 100%;
  border: none;
  height: 5px;
  background-color: #01b0d3;
  margin: 10px 0;
}

.namePrice {
  text-align: center;
  width: 100%;
}

.namePrice h2 {
  margin: 5px 0;
  font-size: 16px;
}

.namePrice span {
  font-size: 16px;
  color: #333;
  font-weight: bold;
}

/* Detail Section */
.vehicle-detail {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  margin: 0 auto;
  max-width: 100%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background-color: #f8f8f8;
  border-radius: 10px;
}

.vehicle-detail h1 {
  font-size: 32px;
  margin: 0 0 20px 0;
  text-align: center;
}

.vehicle-detail img {
  width: 100%;
  height: auto;
  margin-bottom: 20px;
}

.vehicle-detail h2 {
  font-size: 20px;
  margin: 10px 0;
}

.vehicle-detail p {
  font-size: 16px;
  margin: 10px 0;
  text-align: justify;
}

.bolded {
  font-weight: bold;
}

/**************************/
/******* Desktop View *****/
/**************************/
@media (min-width: 720px) {
  body {
    border: 5px solid #01b0d3;
    border-radius: 25px;
    max-width: 900px;
    margin: 5px auto;
    padding: 10px;
    grid-template-columns: 1fr;
    grid-gap: 20px;
  }

  html {
    background-image: url(../images/site/small_check.png);
  }

  .homepage-car,
  header,
  nav,
  .footer {
    grid-column: 1 / span 2;
  }

  .picture-container {
    height: 250px;
  }

  .picture-container img {
    width: 100%;
  }

  .car-details {
    margin-left: 100px;
    padding: 10px;
    top: 250px;
  }

  .car-details h2 {
    margin: 0;
    padding: 0;
  }

  .upgrades-reviews-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }

  .upgrades-section h2 {
    margin: 30px 0 20px 0;
    padding: 0;
  }

  .reviews-section h2 {
    margin: 40px 0 20px 0;
    padding: 0;
  }

  .upgrades-section,
  .reviews-section {
    width: 48%;
  }

  .reviews-section {
    order: 0;
  }

  /*Week 3*/

  #inv-display {
    grid-template-columns: repeat(3, 1fr);
  }

  #inv-display li {
    margin-bottom: 20px;
  }

  .namePrice h2 {
    font-size: 16px;
  }

  .namePrice span {
    font-size: 16px;
  }

  /* Detail Section */

  .vehicle-detail {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    max-width: 900px;
    margin: 20px auto;
    padding: 20px;
    align-items: center;
  }

  .vehicle-detail h1 {
    grid-column: 1 / span 2;
    text-align: left;
  }

  .vehicle-detail img {
    width: 100%;
    height: auto;
    grid-row: span 2;
    margin: 100px 0 0 0;
  }

  .vehicle-detail h2 {
    grid-column: 2 / span 1;
    text-align: left;
  }

  .vehicle-detail p {
    grid-column: 2 / span 1;
    text-align: left;
    margin: 10px 0;
  }
}